
<footer class="footer">
  <div class="footer-main">

    <div class="logo">
      <img src="images/white-rabbit-logo.svg" alt="">
      <p class="logo-text">White Rabbit Express</p>
    </div>

    <ul class="footer-main-menu">
      <ul>
        <li><a href="#">Help and Support</a></li>
        <li><a href="#">Partner Program</a></li>
      </ul>
    </ul>

    <div class="footer-company-info">
      <h4>Company Info</h4>
      <ul class="company-info-menu">
        <ul>
          <li><a href="#">Service Fees</a></li>
          <li><a href="#">Prohibited Items</a></li>
          <li><a href="#">Terms of Service</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Careers</a></li>
        </ul>
      </ul>
    </div>

    <div class="footer-sister-companies">
      <h4>Sister Companies</h4>
      <ul class="sister-companies-menu">
        <ul>
          <li><a href="#">White Rabbit Japan Shop</a></li>
          <li><a href="#">White Rabbit Press</a></li>
          <li><a href="#">Kana Flashcards</a></li>
          <li><a href="#">Kana Poster</a></li>
          <li><a href="#">Kanji Poster</a></li>
        </ul>
      </ul>
    </div>

    <div class="copyright">© 2017 White Rabbit Ventures Inc.</div>
    
  </div>
  <div class="footer-social">
    <ul>
      <li><a href="#"><i class="icon twitter"></i>Twitter</a></li>
      <li><a href="#"><i class="icon facebook f"></i>Facebook</a></li>
    </ul>
  </div>
</footer>

</body>
</html>