<div class="learn-more">
  <div class="ui grid vertically padded container">
    <div class="sixteen wide column">
      <div class="learn-more-content">
        <div class="lead-icon">
          <img src="/images/big-how-step-2.svg" alt="">
        </div>

        <h3>We can help you buy Japanese Cameras and Camera Lenses from Japan</h3>
        <div class="additional-text">
          We can help you buy Japanese Cameras and Camera Lenses from Japan
        </div>

        <a href="#" class="ui green button huge">Learn More</a>
      </div>
    </div>
  </div>
</div>