<div class="product-intro">
  <div class="ui grid vertically padded container">
    <div class="product-intro-content">
      <div class="photo">
        <img class="ui fluid image" src="/images/canon-photo.jpg" alt="">
      </div>

      <div class="basic-product-info">
        <h1>Buy Japanese Cameras and Camera Lenses</h1>
        <h2>White Rabbit Express Proxy-Buying Service</h2>
        <div class="product-description">
          <p>
            Most of the best camera and camera lens brands in the world are Japanese. With their fine attention to detail and immaculate craftsmanship, this is not a surprise. Here are some of the most prominent Japanese makers of high quality cameras and optical lenses.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>